PORT="3000"

ENABLE_LOGGER=

# Auth
JWT_PRIVATE_B64=
JWT_PUBLIC_B64=
AUTH_OTP_NUM=

# PostgreSQL
DATABASE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# Sms
SMS_PROVIDER=
MELI_PAYAMAK_API_KEY=
MELI_PAYAMAK_API_URL=
MELI_PAYAMAK_CONSOLE_API_URL=
MELI_PAYAMAK_NUMBER_FROM=


# Brute-Force
AUTH_BASE_URL=

# MinIo Config
STORAGE_ENDPOINT=
STORAGE_PORT=
STORAGE_USE_SSL=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=

# Passkey
PASSKEY_ORIGIN=
RP_ID=